
/* body bacground color */
body {
  background-color: rgb(203, 235, 212);
}

/* this creates space around each element that is wappred in a div */
div {
  padding-top: 2%;
  padding-bottom:  4%;
}

/* controling font in all sections and aligning center */
.top-banner, h1, h2, h3, p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* size of name */
#name{
  font-size: 55px;
}

/* size of subsections title */
#about, #contact{
  font-size: 25px;
}

/* making photo a circle and the write size */
.photo {
  border-radius: 50%;
  width: 20%;
  height: 10%;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* list and span wiht font style also formatting bullet to be flush with text */
li span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: center;
  left: -10px;
}

/* controlling width and placement of list */
ul {
    width: 70%;
    margin: auto;
}

/* centering ordered list */
ol {
  text-align: left;
 margin-left: 43%;
}

/* styling of page breaks between sections */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, rgb(206, 54, 54), #ccc);
}

/* moving the link sentence down for clarity */
#contactLink{
  padding: 4%;
}

/* color of hovered link */
a:hover {
  color: rgb(207, 8, 8);
}

/* moving panda photo to bottom right corner and sizing small */
.photoPanda{
  border-radius: 50%;
  width: 5%;
  height: 10%;
  display: block;
 float: right;
}